* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../images/comida-fondo.jpg);
    background-size: cover;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pelota {
    border-width: 2px;
    border-color: black;
    background-color: brown;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 160px;
    left: 160px;
    opacity: 0;
    transition: opacity 1s;
}

#puntaje {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    left: 550px;
}

#cancha {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 600px;
    background-color: antiquewhite;
}

.paleta {
    font-size: 0.5rem;
    text-align: center;
    width: 80px;
    height: 16px;
    background-color: grey;
    left: 160px;
    position: absolute;
}

#jugador {
    top: 600px;
}

#rival {
    top: -16px;
}